<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./static/css/root.css" />
    <title>MobileNews</title>
</head>
<body>
    <div class="content">
        <header>
            <div class="logoTitle">
                <div class="logo">
                    <img src="../static/images/logo.jpg">
                </div>
                <div class="title">
                    <h3>MobileNews</h3>
                </div>
            </div>
            <div class="logInOutRegister">
                <div class="login">
                    <a href="/#"> Login </a>
                </div>
                <div class="register">
                    <a href="/register"> Register </a>
                </div>
            </div>
        </header>
        

        <div class="mainContent">
            <h1>News</h1>
        </div>
    </div>
</body>
</html>